
.about_section{    
   
    background-color: #0A192F;
    padding-bottom: 200px
   
   
}
.section_title:after{
    
    background-color: #fff ;
}
.abs_section{
top:83%;
left:0;
right:0;
 margin: 0 auto;
}
.card_stack{
    border-radius: 20px;
    box-shadow: 0 0 5px #F2491F;
    min-height: 550px;
   
}
.devTools{
    list-style: none;
}
