.project_card{
    
    min-height:200px;
}


.content-text{
    margin:auto 0 !important;
}
@media only screen and(min-width: 768px) {
    .project_card{
        margin: 0 auto;
    }
    
}
@media only screen and (min-width: 1020px){
    .project_card{
    width:30%;
    margin:0  auto 20px;
        
    }
}