.project_card{
    
    min-height:200px;
}
.projectTitle{
   
   
}
.projectTitle:after{
    content: '';

    vertical-align: middle;
    width: 70%;
    display: inline-block;
    padding-left:1px;
    height:1px;
    background-color: #0A192F;
    
}
.content-text{
    margin:auto 0 !important;
}
@media only screen and(min-width: 768px) {
    .project_card{
        margin: 0 auto;
    }
    
}
@media only screen and (min-width: 1020px){
    .project_card{
    width:30%;
    margin:0  auto 20px;
        
    }
}